/* 全体設定 */
body {
  min-width: 375px;
  margin: 0;
  font-family: Arial, sans-serif;
  padding: 0;
}

/* PC用ナビゲーション */
header {

}

#nav-pc {
display: flex;
justify-content: space-between;
}


#nav-pc .logo img {
  height: 40px;
}

#nav-pc ul {
  list-style: none;
  display: flex;
}

#nav-pc ul li {
  margin-left: 20px;
}

#nav-pc ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
/* スマホ用メニューアイコン */
#menu-sp {
  display: none;
  position: absolute;
  top: 0;
  right: 0; 
  cursor: pointer;
}

/* スマホ用ナビゲーション */
#nav-sp {
  background-color: #ce933e;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: none;
  z-index: 100;

}

#nav-sp ul {
  padding-left: 0;
}

#nav-sp li {
  list-style: none;
  margin-bottom: 20px;
  margin-left: 20px;
}

/* 閉じるボタン */
#close {
  position: absolute;
  top: 20px;
  right: 20px;
}

/* ロゴ */
#logo-sp {
  display: block;
  margin-bottom: 30px;
}

/* スマホ用ナビゲーションのリンク */
#nav-sp a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

#nav-sp a:hover {
  text-decoration: underline;
}

/* スマホ用レイアウト */
@media screen and (max-width: 767px) {
  #nav-pc >ul {
      display: none;
  }
  

  #menu-sp {
      display: block;
  }
}

/* PC用レイアウト（SPメニューを非表示） */
@media screen and (min-width: 768px) {
  #menu-sp, #nav-sp {
      display: none;
  }
}